body {
  font-family: Montserrat, Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #555555;
  background: linear-gradient(to bottom, #fdf1f1, #ffffff);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}